<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <h1 class="text-center">Order Place Successfully</h1>
            <a href="/orders" class="btn ">Viwe Orders</a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <h1 class="text-center">Order Place Successfully</h1>
            <a href="/orders" class="btn btn-primary">Viwe Orders</a>
        </div>
    </div>
</div>