
<section>
<div class="container">
    <h4 class="text-center mt-5">create new account</h4>
    <div class="row m-5">

        <form action="signup" method="post">
  <div class="mb-3 ">
    <label  class="form-label">name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" value="reg" class="btn btn-primary">Submit</button>
  <a href="signup">already have account</a>
</form>
    </div>
</div>
</section>